footer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  color: #8a8a8a;
  font-size: 0.7em;
  padding: 30px 0;
  margin: auto;
}

footer .footer-links {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

footer .footer-links li {
  margin-left: 20px;
}

footer .footer-links li a {
  cursor: pointer;
  text-decoration: none;
  color: #8a8a8a;
}
