body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
.header {
  background-image: url("../images/banner-bg.jpg");
  height: 1000px;
  background-size: cover;
}

.best-offer-wrapper {
  width: 25%;
  margin-bottom: 50px;
  border: 1px solid silver;
  text-align: center;
}

.offer-button {
  color: rgb(66, 190, 255);
  border: 1px solid rgb(66, 190, 255);
  width: 390px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.search-button {
  background-color: rgb(66, 190, 255);
  color: white;
  width: 200px;
  padding: 15px;
  cursor: pointer;
}

.offer-content{
  height: 50px;
}

@media only screen and (max-width: 600px) {
 
}

.bouce{
  animation: bounceb 0.7s ease;
}
@keyframes bounceb{
  0% {transform: scale(1.1);}
    25% {transform: scale(1.2);}
      50% {transform: scale(0.9);}
  75% {transform: scale(1.1);}
    100% {transform: scale(1.0);}
}

.nav-bar{
  display: flex;
  justify-content: center;
  align-items: center;
    gap:200px;
    margin-bottom: -16px;
}
.nav-bar ul{
    display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  background-color: rgba(16, 62, 228, 0.49);
  color: white;
  justify-content: space-evenly;
  height: 100%;
  padding: 0;
}
.nav-bar ul li{
    display: flex;
  flex-direction: row;
  justify-content: center;
  width: 130px;
  padding: 30px;
}

.sign-in-button{
  color: rgba(16, 62, 228, 0.49);
  border: 2px solid rgba(16, 62, 228, 0.49);
  border-radius: 10px;
  padding:10px 15px;
}
@media only screen and (max-width: 600px) {
  .nav-bar img{
    display: none;

  }
  .nav-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    gap:0px;
    margin-bottom: 10px;
    width: 600px;
}
 .nav-bar ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    gap:20px;
    margin-bottom: 15px;
        width: 600px;
        margin-left: -20px;

}
.sign-in-button{
  color: rgba(16, 62, 228, 0.49);
  border: none;
  border-radius: 10px;
  padding:10px 15px;
             margin-left: -30px;

}
.nav-bar ul li{
   border-top: 1px solid grey;
   width: 100%;
   padding:20px;
   text-align: center;
   margin:0 auto;
           margin-left: -30px;

}
}
@media only screen and (max-width: 600px) {
  .header{
  height: 600px;
}
}
.heading-text h2{
  padding-top:15%;
  text-align: center;
  margin:0 auto;
  font-size: 80px;
  color: white;
  width: 75%;
}
@media only screen and (max-width: 600px) {
  .heading-text h2{
  font-size: 60px;
    padding-top:5%;
}
}

.heading-text h2 span{
  color: rgb(16, 186, 228);
}

.heading-text hr{
  margin-top: 100px;
  width: 80%;
}
@media only screen and (max-width: 600px) {
  .heading-text hr{
  margin-top: 20px;

}
}
.heading-text p{
  padding-top:30px;
  text-align: center;
  margin:0 auto;
  color: white;
  width: 80%;
}
.heading-buttons{
      display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  padding-top: 70px;
  padding-left: 20%;
}
@media only screen and (max-width: 600px) {
  .heading-buttons{
    display: none;
}
}
.explore-button{
  padding: 20px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.66);
}

.video-button{
  padding: 20px
}

.header-images{
  display: flex;
  justify-content: center;
  gap: 5px;
  padding-top: 100px;
}

.header-images img{
  border-radius: 6px;
}
@media only screen and (max-width: 600px) {
  .header-images{
    padding-top: 20px;
  }
  .header-images img{
    padding-top: -100px;
  border-radius: 6px;
}
#image-2 , #image-3{
  display: none;
}
}
.middle-section{
  margin-top: 160px;
  display: flex;
  justify-content: space-between;
}

.middle-section h4{
  color: black;
  font-size: 20px;

}
.middle-section h4 span{
  color: rgb(16, 186, 228);
  
}
@media only screen and (max-width: 600px) {
  .middle-section{
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.middle-section h4{
  text-align: center;
  font-size: 35px;

}
}
.search-bar{
  display: flex;
  flex-direction: row;
  gap:5px;
  height: 50px;
}

.search-bar input{
  text-align: center;
  border: none;
  border-bottom: 2px solid rgb(16, 186, 228);
  color: grey;
}
.search-bar input::placeholder{
  text-align: center;
  color: grey;
}

.search-button{
width: 120px;
text-align: center;
border-radius:10px ;

}
@media only screen and (max-width: 600px) {
  .search-bar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;

}
.search-button{
width: 500px;
}
.search-bar input{
  width: 500px;
}
.search-bar input::placeholder{
  font-size: 17px;
}
}
.best-offers-container{
  display: flex;
  gap:100px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 80px;
}
@media only screen and (max-width: 600px) {
 .best-offers-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:0px;
}
}

.offer-header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.offer-button{
  width: 80%;
  background-color: white;
}

.destinacija-counter{
  font-size: 20px;
  border-right: 1px solid grey;
  padding: 15px 10px;
}


.offer-details h2{
  margin-bottom: 0px;
}
.offer-date{
  font-size: 13px;
  padding:0px 10px;
}


.offer-price{
   font-size: 13px;
  padding:0px 10px;
}

.offer-content{
  margin:0 auto;
  width: 90%;
  height: 170px;

}
.offer-content img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 15px;
}

.best-offer-wrapper{
  border-radius: 20px;
  box-shadow: 2.5px 0 rgba(0, 0, 0, 0.281);
}

@media only screen and (max-width: 600px) {
  .best-offer-wrapper{
  width: 90%;
}
}