.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: rgb(66, 190, 255);
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid rgb(66, 190, 255);
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: rgb(66, 190, 255);
}

.styled-table button {
  background-color: #e97820;
  color: #ffffff;
  font-weight: bold;
  border: none;
  box-shadow: 3px 3px 10px 1px rgba(227, 227, 227, 0.7);
  padding: 10px;
  cursor: pointer;
}
.item-container {
  width: 100%;
  display: flex;
}
tr.row-selected {
  animation: rowPulse 1s ease-in-out infinite alternate;
}

tr.final-selected {
  background-color: #c8e6c9;
  transition: background-color 0.5s;
}
