.offer-button {
  background-color: black;
  color: white;
  cursor: pointer;
  width: 200px;
}
#contact-form {
  margin: 20px 0;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#contact-form .container {
  display: flex;
  margin-bottom: 20px;
}

#contact-form .item {
  width: 50%;
}
.full-item {
  width: 100%;
}

#contact-form .item:nth-of-type(2n + 2) {
  margin-left: 20px;
}

#contact-form label {
  display: block;
  width: 100%;
  padding: 5px 0;
}

#contact-form input {
  width: 100%;
  padding: 10px;
}

#contact-form textarea {
  width: 100%;
  padding: 10px;
  height: 100px;
}

#contact-form .button {
  width: 150px;
  background-color: #e97820;
  color: #ffffff;
  font-weight: bold;
  border: none;
  box-shadow: 3px 3px 10px 1px rgba(227, 227, 227, 0.7);
  padding: 10px;
  margin: 20px 0;
}

#contacts {
  margin-top: 40px;
}

#contacts .contacts-container {
  width: 80%;
}

#contacts .contacts-title {
  color: #3e3f40;
  border-bottom: 1px solid #d3d3d3;
  margin-top: 20px;
}

#contacts i {
  position: relative;
  /**/
  top: 20px;
  /**/
  color: #00b2a9;
  font-weight: bold;
}

#contacts p {
  padding-left: 25px;
  /**/
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

body {
  font-family: Lato, sans-serif;
}

.bold {
  font-weight: bold;
}

.ponuda-dugme {
  background-color: rgb(67, 137, 137);
  padding: 6px;
  margin-top: 10px;
  color: white;
  cursor: pointer;
  text-align: center;
}

.dugme-get-offers {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

header {
  background: url(images/background.jpg) no-repeat center;
  background-size: cover;
  text-align: center;
  color: #ffffff;
}

header .nav-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

header .nav-primary {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

header .nav-primary li {
  padding: 0 10px;
}

header .nav-primary li a {
  display: block;
  font-size: 0.8em;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

header .header-title {
  padding-top: 200px;
  font-weight: normal;
}

header p {
  padding-bottom: 200px;
}

.main {
  position: relative;
  width: 100%;
}

main .title {
  text-align: center;
  margin-top: 30px;
}

main .subtitle {
  text-align: center;
  color: #8a8a8a;
  font-size: 0.9em;
  margin-bottom: 30px;
}

#best-offers {
  background-color: #f5f5f5;
  color: #000000;
  padding: 30px 0;
}

#best-offers .offers-container {
  width: 90%;
}

footer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  color: #8a8a8a;
  font-size: 0.7em;
  padding: 30px 0;
  margin: auto;
}

footer .footer-links {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

footer .footer-links li {
  margin-left: 20px;
}

footer .footer-links li a {
  cursor: pointer;
  text-decoration: none;
  color: #8a8a8a;
}

#firma {
  display: block;
  height: 25px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  margin-bottom: 5px;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: rgb(67, 137, 137);
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid rgb(67, 137, 137);
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: rgb(67, 137, 137);
}

.styled-table button {
  background-color: #e97820;
  color: #ffffff;
  font-weight: bold;
  border: none;
  box-shadow: 3px 3px 10px 1px rgba(227, 227, 227, 0.7);
  padding: 10px;
  cursor: pointer;
}
.item-container {
  width: 100%;
  display: flex;
}

@media only screen and (max-width: 600px) {
}


.pong{
  animation: woomwoom 1.5s ease;
}
@keyframes woomwoom{
  0% {box-shadow: 0 0 2px rgb(24, 128, 255);}
    25% {box-shadow: 0 0 5px rgb(24, 128, 255);}
      50% {box-shadow: 0 0 1px rgb(24, 128, 255);}
  75% {box-shadow: 0 0 5px rgb(24, 128, 255);}
    100% {box-shadow: 0 0 1px rgb(24, 128, 255);}

}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap:600px;
  height: 80px;
}
@media(max-width: 600px){
 .header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:0px;
  height: 250px;
}
}
.contact{
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap:10px;
}
@media(max-width: 600px){
 .contact{
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
}
.phone-number{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:5px;

}

.logo{
  font-family: 'Brush Script MT', cursive;
  font-size:50px;
  color: grey;
}
@media(max-width: 600px){
 .logo{
 height: 120px;
}
}
.nav-bar{
  background-color: rgb(85, 159, 212);
     display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
@media(max-width: 600px){
 .nav-bar{
  background-color: rgb(85, 159, 212);
     display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  width:500px;
  padding-top:80px;
}
}
.nav-bar ul{
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       list-style: none;
       color: white;
       gap: 70px;
       height: 100%;

}
.nav-bar ul li{
border-left: 1px solid grey;
height: 100%;
padding-top: 15px;
padding-left: 20px;
cursor: pointer;
}
@media(max-width: 600px){
 .nav-bar ul{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       list-style: none;
       color: white;
       gap: 50px;
       width:500px;
       margin-top: -100px;

}
.nav-bar ul li{
  border: none;
border-top: 1px solid grey;
width: 500px;
margin:0 auto;
padding: 5px;
text-align: center;
margin-left: -40px;
height: 0px;
}
}
.wrapper{
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.image-header{
  width: 75%;
  background-color: white;
  position: relative;
}
@media(max-width: 600px){
 .image-header{
  width: 500px;
  background-color: white;
  position: relative;
}
}
.image-header img{
  width: 100%;
  border-left: 30px solid rgb(85, 159, 212);
  margin-top:5px;
}

.image-header-text{
  position: absolute;
  top: 0%;
  left: 30px;
    height: 100%;

}
.text-container{
  background-color: rgba(0, 0, 0, 0.5);
  height: 98.5%;
  width: 40%;
  padding-top: 25%;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 5px;
}
@media(max-width: 600px){
 .text-container{
  width: 100%;
  padding: 0;
  margin-top: 5px;
  height: 96%;
  font-size: 15px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 1px;

}
}
.text-container p{
  font-family: 'Brush Script MT',cursive;
  font-size: 40px;
  color: white;
  margin-bottom: 0px;
}
@media(max-width: 600px){
 .text-container p{
  font-size: 40px;
  padding-top:20px;

}
}
.text-container div{
  color: rgba(209, 209, 209, 0.677);
  font-family: 'Times New Roman', Times, serif;
}

.text-container-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#button-contact{
  padding: 20px;
  background-color: rgba(49, 91, 255, 0.501);
  color: white;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#button-about{
  padding: 20px;
  background-color: rgba(49, 255, 159, 0.501);
  color: white;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media(max-width: 600px){
 #button-contact{
  padding: 15px;
}

#button-about{
  padding: 15px;

}

}
.best-offers-section{
  width: 75%;
  background-color: white;
}
@media(max-width: 600px){
  .best-offers-section{
  width: 600px;
}
}
.section-break{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: rgb(85, 159, 212);
  font-size: 30px;
  padding-top: 60px;
}

#middle{
  width:100px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(85, 159, 212);
}


.section-header{
  text-align: center;
}

.section-header h1{
  font-family: cursive;
  font-style: italic;
  color: grey;
}

.section-header p{
  margin:0 auto;
  width: 80%;
  color: rgba(128, 128, 128, 0.712);
}

.search-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: rgb(85, 159, 212);
  height: 70px;
  gap:10px;
  margin-top: 50px;
}

.search-bar input{
  background-color: rgb(63, 140, 195);
  height: 50%;
  color: white;
  border: none;
  border-bottom: 2px solid white;
}
.search-bar input::placeholder{

  color: white;

}

.search-button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  background-color: rgb(28, 90, 134);
  color: white;
  padding: 5px;
  cursor: pointer;

}

.best-offers-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top:60px;
  gap:40px;
  padding-bottom: 50px;
}
.best-offer-wrapper{
  width: 300px;
  background-color: rgba(171, 183, 225, 0.677);
  position: relative;
}
@media(max-width: 600px){
 .best-offer-wrapper{
  width: 500px;
}
}
.offer-header img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.best-offer{
  text-align: center;
  margin:0 auto;
  width: 95%;
  background-color: white;
  margin-bottom: 10px;
  padding-bottom: 10px;
  margin-top:10px;
}
@media(max-width: 600px){
  .best-offer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:row;
}
}
.offer-content{
  width: 100%;
}
.offer-content h2{
  width: 100%;
  color: grey;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
}

.offer-content p{
  width: 100%;
}
.offer-date{
  display: flex;
  justify-content: space-between;
  background-color: rgba(76, 56, 158, 0.7);
  color:white;
}
.offer-price{
  display: flex;
  justify-content: space-between;
  background-color: rgba(56, 158, 151, 0.7);
  color:white;
}

.offer-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  margin-bottom: -10px;
  background-color: rgba(23, 118, 111, 0.7);
}

.offer-akcija{
position: absolute;
padding:10px;
color: white;
top:13px;
right: 0px;
transform: rotate(15deg);
background-color: rgba(234, 64, 12, 0.774);
}